# Virtual environments
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Environment variables
.env

# Large ML model files
models/*.pkl
models/*.joblib
models/*.pt
models/*.pth
models/*.bin

# Dataset files
data/**/*.parquet
data/**/*.csv
data/**/*.json

# VS Code
.vscode/